[build]
  command = "npm run build:css"
  functions = "netlify/functions"
  publish = "app/static"

[functions]
  included_files = ["app/**", "requirements.txt", ".env"]

[[redirects]]
  from = "/static/*"
  to = "/static/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api"
  status = 200
  force = true
